// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@media only screen {
  .body-wrapper{
    height: 0px;
  }
  .border-lr{
    border-left: 3px solid #69849c;
    border-right: 3px solid #69849c;
    padding: 0 10px;
  }
  .content-layout{
    padding: 0% 5% 5%;
    position: relative;
    min-height: 101vh;
    color: #424242;
    background: linear-gradient(to top right, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0)),
                linear-gradient(45deg, transparent 60%, #699C81 60% ),
                #dcdcdc; //#DCDCDC

  }

  .welcome-text{
    margin: 0;
    position: absolute;
    width: 30%;
    height: auto;
    top: 30%;
    left: 25%;
      &__content{
        margin: 0;
        font-size: 4em;
      }
  }

  .moving-part{
    .content-layout{
      &:nth-child(even){
        color: #424242;
        background: linear-gradient(to top right, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0)),
        #dcdcdc;
      }
      &:nth-child(odd){
        color: SeaShell;
        background: linear-gradient(to top right, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0)),
        #333333;
      }
    }
  }

  .paral-element{ // paralax elements
    position: absolute;

    & *{
      z-index: 1;
      height: auto;
    }

    // devicetop image
    &__device{
      width: 500px;
      height: 500px;
      background-image: url('../images/lap.png');
      background-size: contain;
      background-repeat: no-repeat;
      filter: drop-shadow(40px -2px 2px rgba(0,0,0,0.4));
      &--position{
        transform: rotate(-20deg);
        top: 12%;
        left: 64%;

        }
      }// end of device top image


    &__bloom{ // bloom image
      width: 100%;
      filter: blur(0px) drop-shadow(40px -4px 2px rgba(0,0,0,0.4));
      &--position{
        z-index: 2;
        top: -10%;
        left: -10%;
        width: 27%;
      }
    } //end of bloom


    &__coffee{ // note image
      width: 100%;
      filter: blur(0px) drop-shadow(40px -4px 2px rgba(0,0,0, 0.4));
      &--position{
        top: 63%;
        left: 11%;
        width: 14%;
      }
    } // end of note image

  } // end of paral-element

  .section-title{
    padding: 50px 0;
    &--basic{
      text-align: center;
      font-size: 3em;
    }
  }

  .in-section-layout{
    width: 80%;
    margin: 0 auto;
    // min-height: 101vh;
  }
  .projects-wrap{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 40px;
  }
} // end of only screen

@media only screen and (max-width: 20em){
  .content-layout{
    padding: 0 3%;
  }

  .welcome-text{
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    top: 24%;
    left: 0%;
      &__content{
        margin: 0;
        font-size: 2.5em;
      }
  }

  .paral-element{ // paralax elements
    // devicetop image
    &__device{
      background-image: url('../images/phone.png');
      width: 100%;
      height: 150px;
      filter: drop-shadow(10px -4px 2px rgba(0,0,0,0.4));
      &--position{
        transform: rotate(10deg);
        top: 50%;
        left: 50%;
        width: 22%;
        }
      }// end of devicetop image

    &__bloom{ // bloom image
      width: 100%;
      filter: blur(0px) drop-shadow(10px -4px 2px rgba(0,0,0,0.4));
      &--position{
        z-index: 2;
        top: -17%;
        left: -27%;
        width: 69%;
      }
    } //end of bloom


    &__coffee{ // note image
      width: 100%;
      filter: blur(0px) drop-shadow(10px -4px 2px rgba(0,0,0, 0.4));
      &--position{
        top: 50%;
        left: 8%;
        width: 25%;
      }
    } // end of note image
  }

  .section-title{
    font-size: 2em;
  }
  .in-section-layout{
    width: 90%;
  }
  .projects-wrap{
    flex-direction: column;
  }

}
