// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.head-fix{
  position: fixed;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 2;
}
.menu{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 10px 0 15px 0;
  &__element{
    padding: 0 8px;
    text-align: center;
    margin: 0 20px;
    display: inline;
  }
  .active{
    border-bottom: 3px solid SeaShell;
    border-radius: 6px;
  }
}
.beam{
  margin-left: 50%;
  width: 50%;
  height: 15px;
  background-color: #1C1C1C;
  border-radius: 0 0 0 15px;
  z-index: 0;
}
