// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@media only screen {

  .header-layout{
    position: absolute;
    margin-top: 20px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    left: 0%;


    // it has to be in .header-layout because of SPECIFICITY !!!!
    .icon-styling{
      margin: 0 10px;
      color: #424242;
      font-size: 1.5em;
      &:nth-child(-n+2){
        cursor: pointer;
      }
    } // end of icon-styling


  } // end of header-layout
} // end of only screen

@media only screen and (min-width: 35em) {
  // it has to be in header-layout because of SPECIFICITY
  .header-layout{
    .icon-styling{
      font-size: 2.2em;
      margin: 0 15px;
    }
  }

}
