.projects-gallery{
    &__tile{
    width: calc(33% - 20px);
    margin: 10px;
    position: relative;
  }
  &__button{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1){
      left: -50%;
      border-radius: 20px 0 0 20px;
    }
    &:nth-child(2){
      left: 100%;
      border-radius: 0 20px 20px 0;
    }
  }
  &__img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
}
// @media only screen and (max-width: 30em){
//
// }
