@media only screen{
  .footer{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border-top: 5px solid #69849c;
  }

  .footer-element{
    margin: 0 auto;
    padding: 2px 0;
    font-size: 1em;
    background:#424242;
    color: Seashell;
    &:first-of-type{
      padding: 5px 0;
    }
  }
}
