@media only screen {
  *,
  *:after,
  *:before{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: SeaShell;
  }

  .body-wrapper{
    width: 100%;
    height: 100vh;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .picker {
    padding: 2%;
    max-width: 833px;
    min-width: 290px;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0,0,0,0.8);
    border: 4px solid black;
    border-radius: 20px;
    &__left-column, &__right-column, label{
      width: 50%;
    }
    &__range, &__color{
      width: 30%;
      margin: 0 auto;
    }
    &__left-column, &__right-column{
      margin: 0 auto;
      flex: 1;
      display: flex;
    }

    &__left-column{
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }

    &__arrows{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px 0;
    }

    label{
      margin: 10px 0;
    }
    &__arr{
      margin: 0 5px;
      background: url('../images/arr.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      min-width: 34px;
      height: 34px;
      cursor: pointer;
    }
    &__range{
      color: black;
      text-align: center;
    }
    &__button{
      font-size: 1.5em;
      border: none;
      border-radius: 5px;
      display: block;
      width: 40%;
      margin: 0 auto;
      cursor: pointer;
      color: black;
    }
    &__code{
      color: black;
      margin: 0 auto;
      width: 90%;
      max-height: 250px;
      overflow-y: scroll;
      resize: vertical;
    }
    &__color{
      border-radius: 5px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  @for $i from 1 through 8 {
    .picker__arr:nth-child(#{$i}){
      transform: rotate(45deg*($i - 1));
    }
  }
}

@media only screen and (max-width: 40em){
  .body-wrapper{
    align-items: flex-start;
  }
  .picker{
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    &__left-column, &__right-column{
      padding: 5%;
      width: 90%;
    }
  }
}
