a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:active, a:focus {
    text-decoration: none; }

.text {
  font-size: 1em;
  color: black;
  line-height: 1.5;
  margin: 0;
  padding: 0; }
  .text--light {
    color: Seashell; }
  .text--darl {
    color: #424242; }
  .text--bold {
    font-weight: bold; }
  .text--bigger {
    font-size: 1.2em; }

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

*, *:after, *:before {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit; }

.border-lr {
  border-left: 3px solid #69849c;
  border-right: 3px solid #69849c;
  padding: 0 10px; }

.goUp, .goDown {
  position: absolute;
  font-size: 2.5em;
  left: 90%;
  top: 90%;
  opacity: 1;
  pointer-events: click; }

.goUp {
  -webkit-animation: moveUp 2s infinite linear forwards;
  animation: moveUp 2s infinite linear forwards; }
  .goUp:nth-of-type(2) {
    -webkit-animation: moveUp 2s infinite linear forwards 1s;
    animation: moveUp 2s infinite linear forwards 1s; }

.goDown {
  transform: rotate(180deg);
  -webkit-animation: moveDown 2s infinite linear forwards;
  animation: moveDown 2s infinite linear forwards; }
  .goDown:nth-of-type(2) {
    -webkit-animation: moveDown 2s infinite linear forwards 1s;
    animation: moveDown 2s infinite linear forwards 1s; }

@keyframes moveUp {
  0% {
    top: 90%; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 0;
    top: 84%; } }
@keyframes moveDown {
  0% {
    top: 84%; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 0;
    top: 90%; } }
#typewrite:after {
  content: '|';
  -webkit-animation: typing 0.3s infinite ease-in-out forwards;
  animation: typing 0.3s infinite ease-in-out forwards; }

@keyframes typing {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.icon-styling {
  margin: 0 1px;
  font-size: 1.2em; }
  .icon-styling--linkedIn {
    color: #69849c; }
  .icon-styling--gmail {
    color: red; }

html {
  scroll-behavior: smooth; }

@media only screen {
  .body-wrapper {
    min-width: 290px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden; }
    .body-wrapper__section-wrapper {
      width: 100%;
      min-height: 20vh; }
      .body-wrapper__section-wrapper:nth-of-type(even) {
        z-index: 2;
        color: SeaShell;
        background: -webkit-gradient(linear, left bottom, right top, color-stop(20%, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0))), #333333;
        background: linear-gradient(to top right, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0)), #333333; }
      .body-wrapper__section-wrapper:nth-of-type(odd) {
        color: #424242;
        background: -webkit-gradient(linear, left bottom, right top, color-stop(20%, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0))), #dcdcdc;
        background: linear-gradient(to top right, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0)), #dcdcdc; }
      .body-wrapper__section-wrapper:nth-of-type(1) {
        background: linear-gradient(to top right, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0)), linear-gradient(45deg, transparent 60%, #699C81 60%), #dcdcdc;
        min-height: 100vh; }
        .body-wrapper__section-wrapper:nth-of-type(1) .section {
          min-height: 100vh; }

  .section {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1688px;
    position: relative; }
    .section__device-wrapper, .section__bloom-wrapper, .section__coffee-wrapper {
      position: absolute; }
    .section__device-wrapper {
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
      top: 9%;
      left: 48%;
      width: 43%; }
    .section__bloom-wrapper {
      z-index: 2;
      top: -10%;
      left: -10%;
      width: 27%; }
    .section__coffee-wrapper {
      z-index: 2;
      top: 63%;
      left: 11%;
      width: 14%; }
    .section__img {
      -webkit-filter: blur(0px) drop-shadow(10px -4px 2px rgba(0, 0, 0, 0.4));
      filter: blur(0px) drop-shadow(10px -4px 2px rgba(0, 0, 0, 0.4));
      width: 100%; }
      .section__img--device {
        display: block;
        content: url("../images/lap.png"); }
    .section__title {
      padding: 50px 0;
      text-align: center;
      font-size: 3em; }
    .section__content-wrapper {
      margin: 0 auto;
      width: 80%; }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
    .content-wrapper__left-column, .content-wrapper__right-column {
      margin: 0;
      padding: 10px 0 20px; }
    .content-wrapper__left-column {
      flex: 2; }
    .content-wrapper__right-column {
      max-width: 250px;
      flex: 1; }

  .welcome-text {
    position: absolute;
    width: auto;
    height: auto;
    padding: 0;
    left: 35%;
    top: 27%;
    text-align: center;
    font-size: 1.2em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .welcome-text__greeting {
      font-size: 2.8em;
      padding-bottom: 15px; }
      .welcome-text__greeting:after {
        content: '';
        padding: 5px;
        border-right: 3px solid #69849c; }
      .welcome-text__greeting::before {
        content: '';
        padding: 5px;
        border-left: 3px solid #69849c; } }
@media only screen and (max-width: 20em) {
  .section__device-wrapper {
    width: 25%; }
  .section__title {
    font-size: 2.6em; } }
@media only screen and (max-width: 25em) and (min-width: 20em) {
  .section__device-wrapper {
    width: 84px; } }
@media only screen and (max-width: 767px) {
  .section__device-wrapper {
    width: 96px;
    height: 200px;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }

  .content-wrapper {
    flex-direction: column;
    margin: 0 auto; }
    .content-wrapper__left-column, .content-wrapper__right-column {
      margin: 0 auto;
      width: 100%;
      padding: 0; }
    .content-wrapper__left-column {
      padding-bottom: 20px; }
    .content-wrapper__right-column {
      max-width: 450px; } }
@media only screen and (max-width: 48em) {
  .section__device-wrapper {
    top: 60%;
    left: 60%; }
  .section__img--device {
    content: url("../images/phone.png"); }
  .section__bloom-wrapper {
    top: -14%;
    left: -27%;
    width: 69%;
    max-width: 400px;
    min-width: 200px; }
  .section__coffee-wrapper {
    top: 60%;
    left: 8%;
    width: 25%;
    min-width: 73px;
    max-width: 112px; } }
@media only screen and (min-width: 48em) {
  .section__device-wrapper {
    top: 50%;
    left: 48%;
    max-width: 350px; }
  .section__img--device {
    content: url("../images/lap.png"); }
  .section__bloom-wrapper {
    min-width: 360px;
    max-width: 425px;
    top: -13%;
    left: -22%;
    width: 38%; }
  .section__coffee-wrapper {
    max-width: 112px;
    left: 14%; } }
@media only screen and (min-width: 40em) {
  .text {
    font-size: 1.4em; }

  .section__bloom-wrapper {
    top: -12%;
    left: -15%; } }
@media only screen and (max-width: 48em) {
  .section__bloom-wrapper, .section__coffee-wrapper {
    z-index: 1; } }
@media only screen and (max-width: 64em) {
  .welcome-text {
    left: 50%; } }
@media only screen and (min-width: 64em) {
  .welcome-text {
    left: 39%;
    top: 27%; }

  .section__device-wrapper {
    top: 35%;
    left: 55%;
    max-width: none; }
  .section__bloom-wrapper {
    left: -10%;
    width: 40%; }
  .section__coffee-wrapper {
    max-width: 150px; } }
@media only screen and (min-width: 80em) {
  .section__device-wrapper {
    top: 20%;
    width: 39%; } }
@media only screen and (orientation: landscape) and (max-height: 690px) and (max-width: 48em) {
  .section__device-wrapper, .section__bloom-wrapper {
    visibility: hidden; }
  .section .section__coffee-wrapper {
    left: 2%;
    top: 77%; } }
@media only screen and (min-width: 48em) and (max-height: 40.625em) {
  .section__device-wrapper {
    top: 35%;
    left: 75%; } }
@media only screen {
  .navbar {
    z-index: 2;
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    font-size: 1em; }
    .navbar__menu {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      max-width: 1688px;
      justify-content: flex-end;
      flex-wrap: wrap;
      list-style: none;
      width: 100%; }
    .navbar__position {
      background: #424242;
      z-index: 3;
      display: inline-block;
      margin: 5px 20px;
      padding: 0; }
    .navbar--styling {
      border-bottom: 5px solid #69849c;
      background: #424242; }

  .hamburger {
    visibility: hidden;
    z-index: 3;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 10%; }
    .hamburger__dash {
      width: 100%;
      height: 2px;
      background: Seashell;
      position: absolute;
      transition: all 0.3s ease-in-out; }
      .hamburger__dash--top {
        top: 0;
        left: 0; }
      .hamburger__dash--mid {
        top: 10px;
        left: 0; }
      .hamburger__dash--bottom {
        top: 20px;
        left: 0; }
      .hamburger__dash--open:nth-of-type(1) {
        transform-origin: top right;
        transform: rotate(-45deg);
        width: 123%; }
      .hamburger__dash--open:nth-of-type(2) {
        transform: translateX(-650%);
        opacity: 0; }
      .hamburger__dash--open:nth-of-type(3) {
        transform-origin: bottom right;
        transform: rotate(45deg);
        width: 123%;
        top: 21px; } }
@media only screen and (max-width: 35em) {
  .navbar__menu {
    flex-direction: column; }
  .navbar__position {
    margin: 5px 10%; }
  .navbar__position:not(:first-child) {
    display: none; }

  .hamburger {
    visibility: visible; } }
@media only screen and (min-width: 35em) and (max-width: 48em) {
  .navbar__menu {
    justify-content: space-around; } }
@media only screen {
  .projects-gallery {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 40px; }
    .projects-gallery__tile {
      width: calc(33% - 20px);
      margin: 10px;
      padding: 0;
      position: relative; }
      .projects-gallery__tile:hover .projects-gallery__info {
        opacity: 1;
        pointer-events: auto; }
    .projects-gallery__info {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      top: 0;
      background: rgba(0, 0, 0, 0.9);
      border-radius: 20px;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      transition: opacity 0.4s ease-in-out;
      line-height: 1.2; }
    .projects-gallery__description {
      position: absolute;
      top: 0;
      left: 6%;
      width: 88%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
    .projects-gallery__button {
      position: absolute;
      width: 50%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .projects-gallery__button--left {
        border-right: 3px solid #69849c;
        border-top: 3px solid #69849c;
        left: 0;
        top: 80%; }
      .projects-gallery__button--right {
        border-top: 3px solid #69849c;
        left: 50%;
        top: 80%; }
    .projects-gallery__img {
      width: 100%;
      border-radius: 20px;
      margin: 0; } }
@media only screen and (max-width: 35em) {
  .projects-gallery__tile {
    width: 100%;
    margin: 0 auto 20px; } }
@media only screen and (min-width: 35em) and (max-width: 64em) {
  .projects-gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 0.9em; }
    .projects-gallery__tile {
      width: 45%;
      margin: 0 auto 20px; } }
@media only screen {
  .footer {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border-top: 5px solid #69849c;
    background: #424242; }

  .footer-element {
    width: 90%;
    margin: 0 auto;
    padding: 2px 0;
    font-size: 1em;
    color: Seashell; }
    .footer-element:first-of-type {
      padding: 5px 0; } }

/*# sourceMappingURL=main.css.map */
